@model SaleMonitoring.Models.Purchase.PurchaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <label>Вы действительно хотите удалить заказ?</label>
    <div class="panel-success">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Дата заказа</label>
                    <h2>@Model.Date</h2>
                </div>
                <div class="form-group">
                    <label>Имя клиента</label>
                    <h2>@Model.ClientName</h2>
                </div>
                <div class="form-group">
                    <label>Телефон клиента</label>
                    <h2>@Model.ClientTelephone</h2>
                </div>
                <div class="form-group">
                    <label>Название продукта</label>
                    <h2>@Model.ProductName</h2>
                </div>
                <div class="form-group">
                    <label>Цена продукта</label>
                    <h2>@Model.Price</h2>
                </div>
                <div class="form-group">
                    <label>Имя менеджера</label>
                    <h2>@Model.ManagerName</h2>
                </div>
                <div class="form-group">
                    <label>Телефон менеджера</label>
                    <h2>@Model.ManagerTelephone</h2>
                </div>
                <div class="form-group">
                    <label>Ранг менеджера</label>
                    <h2>@Model.ManagerRank</h2>
                </div>
                <div class="text-center">
                    <input type="submit" value="Удалить" class="btn btn-success" />
                </div>
            }
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
